
@font-face {
  font-family: 'Muli Regular';
  src: url("../fonts/Muli-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Italic';
  src: url("../fonts/Muli-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Muli-ExtraBold';
  src: url("../fonts/Muli-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-BoldItalic';
  src: url("../fonts/Muli-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Muli-SemiBold-Italic';
  src: url("../fonts/Muli-Semi-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Muli Bold';
  src: url("../fonts/Muli-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
* {
    outline: solid 1px red;
}
html,
body{
  font-family: 'Muli Regular',sans-serif;
}
a{
  text-decoration: none;
}
ul {
  margin: 0px; 
  padding: 0px; 
  list-style: none;
}
/* header block */
.header{
  height: 100vh;
  background:url(../img/header-bg-img.jpg) no-repeat top center;
  background-size: cover;
  color:#fff;
  display: flex;
  flex-direction: column;
}
.header__top{ 
 padding: 70px 100px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav__list{
  padding:0;
  margin:0;
  display: flex;

}
.nav__item{
  margin-right: 35px;
}
.nav__item:last-child{
  margin-right: 0;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Muli Bold";
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-align: left;
}
.header__rigth-block{
  width: 420px;
  display: flex;
  align-items: center;
}
.header__personal{
  margin-right: 100px;
}
.personal__list{
  display: flex;
}
.personal__item{
  margin-right: 45px;
}
.personal__item:last-child{
  margin-right: 0px;
}
.personal__counter{
  background-color: #fff;
  display: inline-block;
  height: 18px;
  width: 18px;
  text-align:center;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  color:black;

}

.social__list{
  display: flex;
}

.social__item{
  margin-right: 10px;
}
.social__item:last-child{
  margin-right: 0px;
}
.social__img{
  position: absolute;
  margin: 0 auto;
  z-index: 1;
}
.header__content{
  display: flex;
  justify-content: center;
}
.button--green{
  background-color:rgb(10, 165, 102);
  width: 280px;
  height: 70px;
}
.button{
  font-size: 24px;
  font-family: 'Muli-ExtraBold',sans-serif;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  line-height: 1.667;
  text-align: center;
  border-radius:35px;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  -ms-border-radius:35px;
  -o-border-radius:35px;
}


/* block smoothies */

.smoothies__container{
 background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-family: "Muli ExtraBold",sans-serif;
  font-size: 50px;
  color: rgb(247, 174, 59);
  line-height: 0.8;
}
.paragraf{
  font-family:'Muli Regular';
  font-size: 18px;
  color: rgb(30, 30, 30);
  line-height: 1.944;
  }

.smoothies__title{
 text-align: center;
 
}
.smoothies__paragraf{
  text-align: center;
 width: 915px;
 height: 122px;
 margin: 0 auto;
 margin-bottom: 75px;
}
.features {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:0px;
}
.features__item{
  font-family: "Muli ExtraBold";
  font-size: 25px;
  color: rgb(242, 97, 45);
  text-align: center;
  line-height: 1.6;
  width: 210px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  }

/* block about */
.about {
  background-color:#14826f;
}
.about__container{
  display: flex;
  height: 780px;
}
.about__left{
  width: 60%;
}
.about__contant{
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__title{
  color:#fff;
}
span.title--green{
  color:#ccff33;
}
ul.about__list{
  list-style: url('../img/about-li-icon.png');
  margin-bottom:40px;
}
li.about__item{
  font-size: 21px;
  font-family: "Muli ExtraBold";
  color: rgb(255, 255, 255);
  line-height: 1.048;
  text-align: left;
  margin-bottom:30px;
  }
li.about__item:last-child{
    margin-bottom:0px;
  }

.about__button{
  font-size: 21px;
  background:#14826f;
  width: 380px;
 
  text-align: left;
  line-height: 1.048;
  border: 1px solid rgb(247, 174, 59);
}

/* products block */

.products__container{
  width: 100%;
  font-size: 24px;
  font-family: "Muli Regular";
  color: rgb(255, 255, 255);
  line-height: 0.917;
  text-align: center;
  display:flex;
  justify-content:center;
  }

.products__cart{
  width:480px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart--brown,
.button--brown{
  background-color:#602e15;
}
.cart--green,
.button--green{
  background-color:#14826f;
}
.cart--yellow,
.button--yellow{
  background-color:#f5ae3e;
}
.cart--orange,
.button--orange{
  background-color: #c3491e;
}
.testimonials{
  background-color:#6b2f18;
}
.cart__button {
  width: 200px;
  margin-top:60px;
  text-align:left;
  border:1px solid #fff;
}

/* story block */
.story__container{
   display:flex;
}
.gallery{
  display:flex;
}