.button {
  font-size: 2.4rem;
  font-family: 'Muli-ExtraBold', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0 3.5rem;
  width: 280px;
  height: 70px;
  line-height: 1.667;
  text-align: left;
  border-radius: 3.5rem;
  -webkit-border-radius: 3.5rem;
  -moz-border-radius: 3.5rem;
  -ms-border-radius: 3.5rem;
  -o-border-radius: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.button--green {
  background-color: rgb(10, 165, 102);
  margin: auto;
}

.button--green:hover {
  background-color: #4db48b;
  color: white;
}

.button--green::after {
  content: " ";
  width: 30px;
  height: 15px;
  display: inline-block;
  background-image: url("./../images/arrows-rigth.png");
  background-size: cover;
  position: absolute;
  right: 3.5rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.button--green:hover::after {
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
}
.button--yellow {
  background-color: #f5ae3e;
}
.button--orange {
  background-color: #c3491e;
}
.button--brown {
  background-color: #602e15;
}

.button--orange:hover {
  background-color: #c56f50;
}
.button--yellow:hover {
  background-color: #f5c87f;
}
.button--brown:hover {
  background-color: #7e4d26;
}
