.news__container::before {
  content: " ";
  width: 100%;
  height: 10px;
  display: inline-block;
  background-image: url('./../images/blog-line.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.news__title {
  font-size: 30px;
  text-align: left;
  color: rgb(242, 97, 45);
  margin-bottom: 10px;
  padding-left: 19px;
  padding-top: 26px;
}

.news__data {
  font-size: 16px;
  padding-left: 18px;
}

.news__paragraf {
  max-width: 470px;
  min-width: 430px;
  margin: 37px 65px;
}

.news__link {
  color: black;
}