
@font-face {
  font-family: 'Muli-Regular';
  src: url("../fonts/Muli-Regular.woff");
 
}
@font-face {
  font-family: 'Muli-Italic';
  src: url("../fonts/Muli-Italic.ttf");
}
@font-face {
  font-family: 'Muli-ExtraBold';
  src: url("../fonts/Muli-ExtraBold.woff");
}
@font-face {
  font-family: 'Muli-BoldItalic';
  src: url("../fonts/Muli-BoldItalic.ttf");
}

@font-face {
  font-family: 'Muli-SemiBold-Italic';
  src: url("../fonts/Muli-Semi-BoldItalic.ttf");
}

@font-face {
  font-family: 'Muli-Bold';
  src: url("../fonts/Muli-Bold.ttf");
}
* {
    outline: solid 1px red;
}
html,
body{
  font-family: 'Muli-Regular',sans-serif;
   font-size: 10px;
}
// header block
a{
  text-decoration: none;
}
ul {
  margin: 0px; 
  padding: 0px; 
  list-style: none;
}
.img-adaptive{
  max-width: 100%;
  object-fit:cover;
  min-width: 500px;
}
.paragraf{
  font-family:'Muli-Regular',sans-serif;
  font-size: 18px;
  color: rgb(30, 30, 30);
  line-height: 1.95;
  }
  
.title{
  font-family: 'Muli-ExtraBold',sans-serif;
  font-size: 48px;
  color: rgb(247, 174, 59);
  line-height: 0.8;
}

/* block about */

span.title--green{
  color:#ccff33;
  position: relative;
}
span.title--green::after{
  content:"";
  width: 100%;
  height: 10px;
  display: inline-block;
  background:url("./../images/about-line.png");
  background-size:cover;
  position: absolute;
  top:60px;
  left:0px;
}
ul.about__list{
  list-style: url('./../images/about-li-icon.png');
  margin-bottom:0px;
  margin-top: 15px;
  padding-left: 24px;
  letter-spacing: 0;
}

li.about__item:last-child{
    margin-bottom:0px;
  }


.inform__link{
  text-decoration: none;
  font-size: 18px;
  font-family: 'Muli-ExtraBold',sans-serif;
  color: #663300;
  line-height: 1.944;
  text-align: left;
}

li.payment__item:nth-child(8),
.payment__list:nth-child(7){
  margin-bottom: 0px;
}


[placeholder] {
  font-size: 17px;
  font-family: "Muli-Bold";
  color: rgb(109, 69, 12);
  line-height: 2.059;
  padding: 15px;
  padding-left:50px;
}
[placeholder]::before{
  content:url('./../images/letter-icon.png');
  position: absolute;
}

@import './normalize';

@import './header';
@import './nav';
@import './personal';
@import './social';
@import './button';
@import './smoothies';
@import './features';
@import './item';
@import './products';
@import './story';
@import './cart';
@import './testimonials';
@import './article';
@import './blog';
@import './news';
@import './instagram';
@import './gallery';
@import './_footer';
@import './payment';
@import './about';

@import './media';
