
.about {
  background-color: $aboutColor;
  
  &__container {
    display: flex;
    min-height: 780px;
    position: relative;
    padding-bottom: 15px;
  }
  
  &__left {
    width: 50%;
  }
  &__contant {
    padding: 47px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &__title {
    font-size: 52px;
    // color: #f7ae3b;
    line-height: 1.136;
    position: relative;
    text-align: left;
  }
  
  &-img {
    position: absolute;
    top: 8%;
    left: 7%;
  }
  
  &__item {
    line-height: 1.08;
    text-align: left;
    margin-bottom: 21px;
    letter-spacing: 0;
    &:last-child{
      margin-bottom:0px;
    }
  }
  
  &__link {
    text-decoration: none;
    font-size: 21px;
    color: $textColor;
    padding-left: 10px;
  }
  
  &__link b {
    font-family: 'Muli-Bold', sans-serif;
  }
  
  &__button {
    font-size: 21px;
    background:$aboutColor;
    width: 380px;
    margin-top: 45px;
    padding-left: 25px;
    line-height: 1.048;
    border: 1px solid #f7ae3b;
    margin-left: 0;
  }
  &__list{
    list-style: url('./../images/about-li-icon.png');
    margin-bottom:0px;
    margin-top: 15px;
    padding-left: 24px;
    letter-spacing: 0;
  }
 }