.blog {
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1200px;
    margin: 100px 220px 170px 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__left {
    z-index: 1;
  }
  &__title {
    font-size: 50px;
    font-family: 'Muli-ExtraBold', sans-serif;
    color: rgb(247, 174, 59);
    line-height: 0.8;
    text-align: left;
  }
  
  &__article {
    display: flex;
    align-self: flex-end;
    flex-grow: 2;
    position: relative;
  }
}

