.button {
  font-size: 2.4rem;
  font-family: 'Muli-ExtraBold', sans-serif;
  color: rgb(255, 255, 255);
  padding: 0 3.5rem;
  width: 280px;
  height: 70px;
  line-height: 1.667;
  text-align: left;
  margin: auto;
  border-radius: 3.5rem;
  -webkit-border-radius: 3.5rem;
  -moz-border-radius: 3.5rem;
  -ms-border-radius: 3.5rem;
  -o-border-radius: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  background-color: rgb(10, 165, 102);
  &::after {
    content: " ";
    width: 30px;
    height: 15px;
    display: inline-block;
    background-image: url("./../images/arrows-rigth.png");
    background-size: cover;
    position: absolute;
    right: 3.5rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  &:hover{
  background-color: #4ce9aa;
  &::after {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
  }
}
&--green {
  background-color: #14826f;
  margin: auto;
  &:hover{
  background-color: #4db48b;
  color: white;
}
}
&--yellow {
  background-color: #f5ae3e;
}
&--orange {
  background-color: #c3491e;
}
&--brown {
  background-color: #602e15;
}

&--orange:hover {
  background-color: #c56f50;
}
&--yellow:hover {
  background-color: #f5c87f;
}
&--brown:hover {
  background-color: #7e4d26;
}
}

