.cart{
  &__title {
    margin-bottom: 10px;
  }
  
  &__value {
    font-family: "Muli-Italic", sans-serif;
    font-size: 20px;
  }
  
  &--green{
    background-color: $aboutColor;
  }
  
  &__button {
    width: 200px;
    height: 60px;
    font-size: 21px;
    margin-top: 65px;
    border: 1px solid $textColor;
    position: relative;
  }
  
  &--brown {
    background-color: #602e15;
  }
  
  &--yellow {
    background-color: #f5ae3e;
  }
  
  &--orange {
    background-color: #c3491e;
  }
}

