.features {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* max-width:80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  position: relative;
}

.features__item {
  font-family: 'Muli-Bold', sans-serif;
  font-size: 23px;
  color: rgb(242, 97, 45);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
}