.gallery{
  &__box {
    position: relative;
  }
  
  &__img {
    min-width: 380px;
  }
  
  &__box{
    &::after {
      @extend %psevdoElem;
      width: 20px;
      height: 20px;
      background-image: url(./../images/Instagram-footer.png);
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}

