.instagram{
  &__title {
    text-align: center;
    font-size: 24px;
    font-family: "Muli-Bold";
    line-height: 1.667;
    color: rgb(10, 165, 102);
  }
  
  &__title{
    &::before {
      @extend %psevdoElem;
      width: 25px;
      height: 25px;
      margin-right: 16px;
      background-image: url('./../images/inst-block-icon.png');
    }
  }
  
  &__gallery {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    overflow: overlay;
  }
}

