.instagram{
  &__title {
    text-align: center;
    font-size: 24px;
    font-family: "Muli-Bold";
    line-height: 1.667;
    color: rgb(10, 165, 102);
  }
  
  &__title{
    &::before {
      content: " ";
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 16px;
      background-image: url('./../images/inst-block-icon.png');
      background-size: cover;
      transform: translate(5px, 5px);
      -webkit-transform: translate(5px, 5px);
      -moz-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
      -o-transform: translate(5px, 5px);
    }
  }
  
  &__gallery {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    overflow: overlay;
  }
}

