.news{
  &__container{
    &::before {
      @extend %psevdoElem;
      width: 100%;
      height: 10px;
      background-image: url('./../images/blog-line.png');
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  &__title {
    font-size: 30px;
    text-align: left;
    color: rgb(242, 97, 45);
    margin-bottom: 10px;
    padding-left: 19px;
    padding-top: 26px;
  }
  
  &__data {
    font-size: 16px;
    padding-left: 18px;
  }
  
  &__paragraf {
    max-width: 470px;
    min-width: 430px;
    margin: 37px 65px;
  }
  
  &__link {
    color: black;
  }
}