.payment{
  &__list {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    &:nth-child(7){
      margin-bottom: 0px;
    }
  }
  
  &__item {
    margin-right: 16px;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(8){
      margin-bottom: 0px;
    }
  }
}