.products{
  &__container {
    @include title('Muli-Regular',2.5rem,white);
    width: 100%;
    min-height: 730px;
    line-height: 0.917;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    overflow: overlay;
  }
  
  &__cart {
    min-width: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
  }
}