.social{
  &__list {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  &__item {
    position: relative;
    margin-right: 10px;
    background-color: $textColor;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  &__link {
    background-color: $textColor;
    display: inline-block;
    height: 33px;
    width: 33px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  &__item:last-child {
    margin-right: 0px;
  }
  
  &__img {
    padding-top: 9px;
  }
  
  &__item-footer {
    background-color: #ff9933;
    padding-top: 15px;
  }
  
  &__item-footer a {
    background-color: #ff9933;
  }
}