.title{
    @include title('Muli-ExtraBold',48px,#f7ae3b);
    line-height: 0.8;
    &--green{
    color:#a5d80c;
    position: relative;
    &::after{
        @extend %psevdoElem;
        width: 100%;
        height: 10px;
        background:url("./../images/about-line.png");
        position: absolute;
        top:60px;
        left:0px; }
}
}
