@import './reset';
@import './variables';


* {
    outline: solid 1px red;
}
html,
body{
  font-family: 'Muli-Regular',sans-serif;
  font-size: 10px;
}
// header block
a{
  text-decoration: none;
}
ul {
  margin: 0px; 
  padding: 0px; 
  list-style: none;
}
.img-adaptive{
  max-width: 100%;
  object-fit:cover;
  min-width: 500px;
}




[placeholder] {
  font-size: 17px;
  font-family: "Muli-Bold";
  color: rgb(109, 69, 12);
  line-height: 2.059;
  padding: 15px;
  padding-left:50px;
}
[placeholder]::before{
  content:url('./../images/letter-icon.png');
  position: absolute;
}


@import './header.scss';
@import './nav.scss';
@import './personal.scss';
@import './social.scss';
@import './button.scss';
@import './smoothies.scss';
@import './features.scss';
@import './item.scss';
@import './products.scss';
@import './story.scss';
@import './cart.scss';
@import './testimonials.scss';
@import './article.scss';
@import './blog.scss';
@import './news.scss';
@import './instagram.scss';
@import './gallery.scss';
@import './footer.scss';
@import './payment.scss';
@import './about.scss';
@import './title.scss';

@import './media.scss';
