# Игнорировать каталог node_modules 
node_modules/**

# Игнорирование каталога шрифтов
fonts/**

#Игнорирование каталога картинок
images/**

# Игнорирование логов 
logs 
*.log 

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*